{% extends 'admin/base.html.twig' %}

{% block title %}Hello DoctorController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            <h1>Reports</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Security Social Number</th>
                    <th scope="col">Show treatment</th>
                    <th scope="col">Delete a patient</th>
                </tr>
                </thead>
                <tbody>
{#                {% for patient in myPatients %}#}
{#                    <tr>#}
{#                        <th scope="row">{{ patient.id }}</th>#}
{#                        <td>{{ patient.name }}</td>#}
{#                        <td>{{ patient.address }}</td>#}
{#                        <td>{{ patient.socialNumber }}</td>#}
{#                        <td><a href="{{ path('drugs_show', {id:patient.id}) }}"><button type="button"> Show treatment </button></a></td>#}
{#                        <td> <a href="{{ path('doctor_remov_patient', {id:patient.id}) }}"><button type="button"> Remove </button></a> </td>#}
{#                    </tr>#}
{#                {% endfor %}#}
<td colspan="6">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-validate btn-lg">{{ button_label|default('Submit') }}</button>
    {{ form_end(form) }}
</td>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}