{% extends 'frontend/base.html.twig' %}
{% block title %}Search foods {% endblock %}

{% block body %}


    <h1>Search for a food according to its salt level </h1>
{{ form_start(form) }}
    {{ form_row(form.foodSearch, {'attr' : {'placeholder': "Enter a food"}, 'label': 'Food :   ' }) }}
    <br>
    {{ form_row(form.number, {'attr' : {'placeholder': "Enter a salt level"}, 'label':'Enter a level : '}) }}
    <button type="submit" class="btn btn-primary" name="btnSearch">Rechercher</button>
    <br>
{{ form_end(form) }}
    <br>
    {%  if pro is defined %}
        {% for p in pro %}

            {% if  p.image_url is defined%}
                 <img src="{{ p.image_url}}" alt="">
                {% if p.generic_name is defined %}
                    <p>{{ p.generic_name}}</p>
                {% endif %}
            {% endif %}
            {% else %} <p>No food found at under this salt level </p>
        {% endfor %}
    {% endif %}


{% endblock %}
