{% extends 'frontend/baseProfile.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}
    {% if app.user %}
        {% set userObj = app.user.doctor ?? app.user.patient %}
        {% set userType = app.user.doctor ? 'doctor' : 'patient' %}
    {% else %}
        {% set userObj = '' %}
    {% endif %}
    <div style="max-width: 800px; padding: 20px; margin: 0 auto">
        <div class="main main-raised">
            <div class="profile-content" style="padding: 20px; height: calc(100vh - 200px)">
                <nav class="nav flex-column" style="display: flex; justify-content: center; font-size: 16px">
                    <a class="btn btn-primary" style="width: 140px; font-size: 14px" href="{{ path('complete_index')
                    }}">About</a>
                    <a class="btn btn-primary" style="width: 140px; font-size: 14px" href="{{ path('edit_profile') }}">Edit my
                        profile</a>
                    <a class="btn btn-primary" style="width: 140px; font-size: 14px" href="{{ path('home_connected') }}">Daily report</a>
                    <a class="btn btn-primary" style="width: 140px; font-size: 14px" href="{{ path('past_report') }}">See my
                        reports</a>
                </nav>
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto" style="margin-top: 30px">
                        <div class="profile">
                            <div class="avatar">
                                <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTU0NjQzOTk4OTQ4OTkyMzQy/ansel-elgort-poses-for-a-portrait-during-the-baby-driver-premiere-2017-sxsw-conference-and-festivals-on-march-11-2017-in-austin-texas-photo-by-matt-winkelmeyer_getty-imagesfor-sxsw-square.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                            </div>
                            <div class="name">
                                <h3 class="title text-center">{{ not userObj is empty ? userObj.name : 'No info' }}</h3>
                                <h6 class=""></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <form>
                    <div class="connected">
                        <div>
                            <label>Full Name</label>
                            <input type="text">
                        </div>
                        <div>
                            <label>Address</label>
                            <input type="text">
                        </div>
                        <div>
                            <label>City</label>
                            <input type="text">
                        </div>
                        <div>
                            <label>Social Number</label>
                            <input type="text">
                        </div>
                        <a class="btn btn-primary" style="font-size: 14px; float: right;">Submit</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

