{% extends 'base.html.twig' %}
{% block title %}Recherche d'aliment {% endblock %}

{% block body %}


    <h1>Recherche un aliment en fonction de son taux de sel </h1>
{{ form_start(form) }}
    {{ form_row(form.foodSearch, {'attr' : {'placeholder': "Entrer un aliment"}, 'label': 'Un aliment :   ' }) }}
    <br>
    {{ form_row(form.number, {'attr' : {'placeholder': "Entrer une série"}, 'label':'Entrer une valeur : '}) }}
    <button type="submit" class="btn btn-primary" name="btnSearch">Rechercher</button>
    <br>
{{ form_end(form) }}
    <br>
    {%  if pro is defined %}
        {% for p in pro %}

            {% if  p.image_url is defined%}
                 <img src="{{ p.image_url}}" alt="">
                {% if p.generic_name is defined %}
                    <p>{{ p.generic_name}}</p>
                {% endif %}
            {% endif %}
            {% else %} <p>Il n'y a pas de tel produit </p>
        {% endfor %}
    {% endif %}


{% endblock %}
